﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>

    @* @Styles.Render("~/Content/Site.css")*@
    @*@Styles.Render("~/Content/bootstrap.css")*@
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/js")
    @* <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <style>

        body {
            background-color: #c7b39b; /* Цвет фона */
            color:aliceblue;
        }
        .nnn {
            height: 150px;
        }
 
    </style>
</head>
<body>


    <div class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item p-2"> @Html.ActionLink("Заказы", "Index", "Заказ_клиента")</li>

                    <li class="nav-item p-2">@Html.ActionLink("Номера", "Index", "Номера")</li>
                    <li class="nav-item p-2">@Html.ActionLink("Сотрудники", "Index", "Сотрудник")</li>
                    <li class="nav-item p-2">@Html.ActionLink("Услуги", "Index", "Услуга")</li>
                    <li class="nav-item p-2">@Html.ActionLink("Контакты", "Contact", "Home")</li>
                    <li class="nav-item p-2">@Html.ActionLink("О компании", "About", "Home")</li>
                    @if (User.IsInRole("admin") || User.IsInRole("user"))
                    {
                        <li class="nav-item p-2">@Html.ActionLink("Пользователи", "Index", "Console")</li>
                    }
                        <li class="nav-item p-2"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp</li>

                        @if (User.IsInRole("admin") || User.IsInRole("user") || User.IsInRole("worker"))
                        {
                            <li class="nav-item p-2">@Html.ActionLink("Выйти", "Logoff", "Account")</li>
                            <li class="nav-item p-2">@User.Identity.Name</li>
                        }
                        else
                        {
                            <li class="nav-item p-2">@Html.ActionLink("Войти", "Login", "Account")</li>
                        }
                    </ul>
            </div>
        </div>
    </div>

    <div class="mt-5">
        &nbsp
    </div>
    <div class="container body-content mt-5">

        @RenderBody()
        <div class="nnn">

        </div>
        <hr />

    </div>
   
    <footer class="ml-5">
        <p>&copy; @DateTime.Now.Year – гостиница для питомцев  <strong>"Mr.Zoo"</strong></p>
        <p>
            <abbr title="Phone">Контактный телефон:</abbr>
            88888888888
        </p>
    </footer> 

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/pagination")
    @RenderSection("scripts", required: false)
</body>
</html>
