﻿@model idz.Models.Заказ

@{
    ViewBag.Title = "Delete";
    Layout = "Create";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Срок_предоставления_услуги)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Срок_предоставления_услуги)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_заказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_оплаты)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_оплаты)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_питомца)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_питомца)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_номера)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_номера)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_клиента)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
