﻿@model idz.Models.Заказ

@{
    ViewBag.Title = "Details";
    Layout = "Create";
}

<h2>Details</h2>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Срок_предоставления_услуги)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Срок_предоставления_услуги)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_заказа)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_заказа)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_оплаты)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_оплаты)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_питомца)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_питомца)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_номера)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_номера)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_клиента)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_заказа }) |
    @Html.ActionLink("Back to List", "Index")
</p>
