﻿@model List<idz.Models.Заказ>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 @using (Html.BeginForm())
{
<p>
    Find by name: @Html.TextBox("god")
    <input type = "submit" value = "Search" />
   </p>
}

@*<form method="get">
        <div class="form-inline">
            <label class="control-label">Команда: </label>

            @Html.EditorFor(model => model.Дата_заказа, new { htmlAttributes = new { @class = "form-control" } })
            <label class="control-label">Позиция игрока: </label>


            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>*@

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Срок_предоставления_услуги)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_заказа)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_оплаты)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Код_питомца)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Код_номера)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Код_клиента)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Срок_предоставления_услуги)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_заказа)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_оплаты)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Код_питомца)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Код_номера)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Код_клиента)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Номер_заказа }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Номер_заказа }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Номер_заказа })
                </td>
            </tr>
        }

    </table>*@


@foreach (var item in Model)
    {
        <p>@item.Дата_заказа</p>
        }
