﻿@model idz.Models.Услуга

@{
    ViewBag.Title = "Details";
}

<h3>Информация об услуге</h3>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Стоимость)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Стоимость)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("admin")) { 
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Код_услуги }) }|
    @Html.ActionLink("К списку услуг", "Index")
</p>
