﻿@model IEnumerable<idz.Models.Услуга>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 80%;
            margin: auto;
        }
    </style>
</head>
<body>
    
    @if (User.IsInRole("admin"))
    {
        
    <button type="button" class="btn btn-outline-secondary m-2">
        @Html.ActionLink("Добавить новую услугу", "Create")
    </button>
    }

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Услуга
                </th>
                <th>
                    Стоимость
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Код_услуги)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink(item.Наименование, "Details", new { id = item.Код_услуги })
                        }
                        else
                        {@Html.DisplayFor(modelItem => item.Наименование)}
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Стоимость)
                    </td>
                </tr>

            }

        </tbody>
    </table>




    <div class="container">
        <h2 class="text-center">Правильный уход за питомцем - залог его отличного самочувствия и крепкого здоровья</h2>
       

        <div id="myCarousel" class="carousel slide ">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="item1 active"></li>
                <li class="item2"></li>
                <li class="item3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active carousel-item">
                    <img class="img-fluid row justify-content-center foot-marg" src="../img/stomatolog.jpg" alt="Chania" width="460" height="345">
                    <div class="carousel-caption text-dark">
                        <h3>Ультразвуковая чистка зубов</h3>
                        <p class="font-weight-bold">
                            При обнаружении отложений зубного налёта и зубного камня у собак и кошек, следует своевременно обратиться к специалисту
                            для чистки зубов. Процедура ультразвуковой санации полости рта направлена для того, чтобы уменьшить риск
                            возникновения заболеваний дёсен (парадантоз) и повреждений зубной эмали, а также профилактирует раннюю потерю зубов.
                        </p>
                    </div>
                </div>
                <div class="item carousel-item">
                    <img class="img-fluid row justify-content-center foot-marg" src="../img/парик.jpg"  alt="Chania" width="460" height="345">
                    <div class="carousel-caption text-dark">
                        <h3>Услуги парикмахера</h3>
                        <p class="font-weight-bold">
                            Стрижка собак является составной частью груминга этих домашних питомцев.
                            Она необходима для придания внешнему виду животного привлекательности,
                            сокрытия физических недостатков и – в зависимости от породы — для
                            упрощения процедуры расчесывания либо защиты шерсти или кожи от загрязнений.
                        </p>                      
                    </div>
                </div>
                <div class="item carousel-item">
                    <img class="img-fluid row justify-content-center foot-marg" src="../img/вакцин.jpg"   alt="Flower"
                         width="460" height="345">
                    <div class="carousel-caption text-dark">
                        <h3>Вакцинация</h3>
                        <p class="font-weight-bold">
                            Вакцинация животных - одно из важнейших профилактических мероприятий, позволяющее защитить
                            их от наиболее распространенных инфекционных заболеваний. Современными ветеринарными врачами
                            необходимость вакцинации не ставится под сомнение.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls --> <a class="left carousel-control" href="#myCarousel" role="button">

                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

                <span class="sr-only">Previous</span>

            </a>
            <a class="right carousel-control" href="#myCarousel"
               role="button">

                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                <span class="sr-only">Next</span>

            </a>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            // Activate Carousel
            $("#myCarousel").carousel();

            // Enable Carousel Indicators
            $(".item1").click(function () {
                $("#myCarousel").carousel(0);
            });
            $(".item2").click(function () {
                $("#myCarousel").carousel(1);
            });
            $(".item3").click(function () {
                $("#myCarousel").carousel(2);
            });
            // Enable Carousel Controls
            $(".left").click(function () {
                $("#myCarousel").carousel("prev");
            });
            $(".right").click(function () {
                $("#myCarousel").carousel("next");
            });
        });
    </script>
</body>
</html>
