﻿@model idz.Models.LoginModel





@{
    ViewBag.Title = "Логин";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        @Html.AntiForgeryToken()
        <div class="row justify-content-center">

            <div class="form-horizontal">
                <h3>Вход на сайт</h3>
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="control-label col-8">Логин</div>
                    @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                    <div class="col-4">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-8">Пароль</div>
                    @*@Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })*@
                    <div class="col-4">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Войти" class="btn btn-info" />
                    </div>
                </div>
            </div>

        </div>
    }

</div>

<div class="container-fluid">
  
    <div class="row justify-content-center">

        <div>
          
                @Html.ActionLink("Регистрация", "Register")
          
        </div>
    </div>
    
 </div>





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
