﻿
@model idz.Models.RegisterModel


@{
    ViewBag.Title = "Регистрация";
}
<div class="container-fluid">
   


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row justify-content-center">
            <div class="form-horizontal">
                @Html.ValidationSummary(true)
                <h2>Регистрация</h2>
                <div class="form-group">
                    <div class="control-label col-8">Логин</div>
                    @*@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-8">Пароль</div>
                    @*@Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-8">Повторите&nbspпароль</div>
                    @*@Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword)
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Зарегистрировать" class="btn btn-outline-info" />
                    </div>
                </div>
            </div>
         </div>
            }
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
