﻿@model idz.Models.Номера_с

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Изменение</h2>*@


@using (Html.BeginForm("Edit", "Номера", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Изменение информации о номере</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Номер)

    <div class="form-group">
        @Html.LabelFor(model => model.Стоимость, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Стоимость, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Стоимость, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Количество_мест, "Количество мест", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Количество_мест, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Количество_мест, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.СписокНомеров, "Номера", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_типа_н", Model.СписокНомеров, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_типа_н, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.СписокЖивотных, "Животное", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_вида", Model.СписокЖивотных, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_вида, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Raw("<img style='width:140px; height:100px;' src=\"data:image/jpeg;base64,"
                                      + Convert.ToBase64String(Model.Image) + "\" />")
    </div>

    <div class="form-group">
        <div class="editor-label">Файл изображения</div>
        <div class="editor-field">
            <input type="file" name="uploadImage" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-outline-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
