﻿@model idz.Models.Номера_с

@{
    ViewBag.Title = "index";
}

<h3>Номера гостиницы</h3>
@if (User.IsInRole("admin"))
{
<button type="button" class="btn btn-outline-secondary m-2">
    @Html.ActionLink("Добавить номер", "Create")
</button>
   
}

<form method="get" style="margin-bottom: 20px;">
    <div class="form-inline m-2">
        <label class="control-label">Питомец:&nbsp </label>
        @Html.DropDownList("pet", Model.СписокВыбораЖивотных as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Показать" class="btn btn-outline-info" />
    </div>
</form>


<div class="container-fluid">
    <div class="row ">
        @foreach (var item in Model.НомераДляВыбора)
        {

        <div class="col-md-6 mb-2">
            <p class="rounded">
                @Html.Raw("<img style='width:350px; height:250px;' src=\"data:image/jpeg;base64,"
                                      + Convert.ToBase64String(item.Image) + "\" />")
            </p>

            <table class="table table-hover">
                <tr>
                    <td>
                        Номер
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Номер)
                    </td>
                </tr>
                <tr>
                    <td>
                        Тип номера
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Тип_номера)
                    </td>
                </tr>
                <tr>
                    <td>
                        Количество мест
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Количество_мест)
                    </td>
                </tr>
                <tr>
                    <td>
                        Стоимость
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Стоимость)
                    </td>
                </tr>
                <tr>
                    <td>
                        Для кого
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Животное)
                    </td>
                </tr>
                <tr>
                    <td>
                        Был заказан
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Количество_заказов)
                    </td>
                </tr>
            </table>
            @if (User.IsInRole("admin"))
            {
                <button type="button" class="btn btn-outline-secondary">
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Номер })
                </button>
            }
            </div>

        }
    </div>
</div>



