﻿@model idz.Models.Владельцы
@{
    ViewBag.Title = "ClientSelect";

}



<h3>Выбор клиента</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h3>@ViewBag.MyProperty</h3>


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.СписокКлиентов, "Владелец", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Код_владельца", Model.СписокКлиентов, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor( model => model.Код_владельца, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Выбрать" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>


