﻿@model idz.Models.заказ_клиента
@{
    ViewBag.Title = "Create";
    // Layout = "Create";
}

@*<h2>View</h2>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Новый заказ</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Дата_заказа,"Дата заказа", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_заказа, new { htmlAttributes = new { @Value = Model.Дата_заказа.ToString("yyyy.MM.dd HH:mm"), @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_заказа, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_оплаты,"Дата оплаты", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_оплаты, new { htmlAttributes = new { @Value = Model.Дата_оплаты.ToString("yyyy.MM.dd HH:mm"), @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_оплаты, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           
            @Html.LabelFor(model => model.Срок_предоставления_услуги,"Срок проживания", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Срок_предоставления_услуги, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Срок_предоставления_услуги, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.СписокВладельцев, "Владелец", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Код_клиента", Model.СписокВладельцев, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Код_клиента, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.СписокНомеров, "Номера", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Код_номера", Model.СписокНомеров, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Код_номера, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.СписокПитомцев, "Животное", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Код_питомца", Model.СписокПитомцев, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Код_питомца, "", new { @class = "text-danger" })

            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-outline-info" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад", "Index")
</div>
<div>
    @Html.ActionLink("Новый питомец", "../Питомец/Create", new { id = Model.Код_клиента, newPet = true})
  </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
