﻿@model idz.Models.заказ_клиента
@{
    ViewBag.Title = "Details";

}

<h3>Детали заказа</h3>
@foreach (var item in Model.ЗаказыДляВыбора)
{
    <div>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => item.Номер_заказа)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Номер_заказа)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Дата_заказа)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Дата_заказа)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Дата_оплаты)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Дата_оплаты)
            </dd>

            <dt>
                Питомец
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Кличка)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.ФИО)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.ФИО)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.Номер)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Номер)
            </dd>
            <dt>
                Срок предоставления услуги
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Срок_предоставления_услуги)
            </dd>

        </dl>
    </div>
    <p>
        @if (User.IsInRole("worker")) {
            @Html.ActionLink("Редактирование", "Edit", new { id = item.Номер_заказа })} |
        
        @Html.ActionLink("Назад", "Index")
    </p>
}