﻿@model idz.Models.заказ_клиента
@{
    ViewBag.Title = "Edit";

}

<h3>Редактирование</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Номер_заказа)

    <div class="form-group">
        @Html.LabelFor(model => model.ФИО, "ФИО владельца", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 font-weight-bold">
            @*@Html.EditorFor(model => model.ФИО, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DisplayFor(model => model.ФИО)
            @Html.ValidationMessageFor(model => model.Код_клиента, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Кличка, "Кличка питомца", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 font-weight-bold">
            @*@Html.EditorFor(model => model.Кличка, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DisplayFor(model => model.Кличка)
            @Html.ValidationMessageFor(model => model.Код_питомца, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Дата_заказа, "Дата заказа", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Дата_заказа, new { htmlAttributes = new { @Value = Model.Дата_заказа.ToString("yyyy.MM.dd HH:mm"), @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Дата_заказа, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Дата_оплаты, "Дата оплаты", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Дата_оплаты, new { htmlAttributes = new { @Value = Model.Дата_оплаты.ToString("yyyy.MM.dd HH:mm"), @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Дата_оплаты, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Срок_предоставления_услуги, "Срок проживания", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.EditorFor(model => model.Срок_предоставления_услуги, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Срок_предоставления_услуги, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.СписокНомеров, "Номера", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Код_номера", Model.СписокНомеров, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Код_номера, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-outline-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

