﻿@model idz.Models.заказ_клиента

@{
    ViewBag.Title = "Index";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*link type="text/css" rel="stylesheet" href="~/Content/pagination.css" />*@
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pagination.js"></script>
    <script>
        $(document).ready(function () {
            $("#tab").pagination({
                items: 6,
                contents: 'contents',
                previous: 'Предыдущая',
                next: 'Следующая',
                position: 'bottom',
            });
        });
    </script>
</head>
<body>



    @if (User.IsInRole("worker"))

    {<button type="button" class="btn btn-outline-secondary m-2">
    @Html.ActionLink("Создать новый заказ/новый клиент", "Create", "Клиент")
</button>

     <button type="button" class="btn btn-outline-secondary m-2">
         @Html.ActionLink("Создать новый заказ/повторное обращение", "ClientSelect")
     </button>
 
    }

     <div id="wrapper">


         <div class="row">
             <div class="col-1"><h6>№</h6></div>
             <div class="col-2 "><h6>Дата заказа</h6></div>
             <div class="col-2 offset-3"><h6>ФИО клиента</h6></div>
             <div class="col-2 offset-1"><h6>Сумма заказа</h6></div>
         </div>
        
         <div id="tab">
             <div class="contents" color="black">


                 @foreach (var item in Model.ЗаказыДляВыбора)
                 {
                     <div>
                         <table class="table table-hover table-striped">
                             <thead>
                                 <tr>
                                     <th>
                                         &nbsp
                                     </th>
                                     <th>
                                         &nbsp
                                     </th>
                                     <th>
                                         &nbsp
                                     </th>
                                     <th>
                                         &nbsp
                                     </th>
                                 </tr>
                             </thead>
                             <tbody>
                                 <tr> 
                                     <td>

                                         @*@Html.DisplayFor(modelItem => item.Номер_заказа)*@
                                         @if (User.IsInRole("worker") || User.IsInRole("admin"))
                                         {
                                             @Html.ActionLink(item.Номер_заказа.ToString(), "Details", new { id = item.Номер_заказа })

                                         }
                                         else
                                         {
                                             @Html.DisplayFor(modelItem => item.Номер_заказа)
                                         }
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => item.Дата_заказа, new {htmlAttributes = new { @Value = Model.Дата_заказа.ToString("yyyy.MM.dd HH:mm") } })
                                     </td>
                                     <td>
                                         @Html.DisplayFor(modelItem => item.ФИО)
                                     </td>
                                     @*<td class="align-middle">
                @Html.DisplayFor(modelItem => item.Сумма_услуг)
            </td>*@
                                     <td>
                                         @Html.DisplayFor(modelItem => item.Стоимость_проживания)
                                     </td>
                                 </tr>
                             </tbody>
                         </table>
                     </div>
                 }

             </div>
         </div>
     </div>
</body>
</html>