﻿@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@
<div class="row">
    <div class="col-md-4">
        <h2>Наши партнеры</h2>
        <p>
            Мы работаем крупнейшими компаниями, проязводящими товары для ухода за домашними питомцами.«Farmina» – известный европейский производителей товаров для животных. Под маркой
            «Farmina» производятся качественные витамины и корма для собак и кошек. Подробнее о бренде
            <a href="https://www.farmina.com/ru">Farmina</a>.
            Best Friend - известная скандинавская компания - производитель кормов для домашних животных и
            зоотоваров. ... Широкая линейка брендов: корм для кошек и собак - от элитных лакомств или
            специализированных (для стерилизованных животных, проживающих в нетипичных условиях,
            гипоаллергенных и т.п.) - до марок широкого спроса: товары по уходу - наполнители, аксессуары или
            просто приятные мелочи для Ваших любимцев.
        <p class="font-weight-bold">По вопросам маркетинга:</p>
        </p>
        <p><a href="mailto:Support@mail.com">Marketing@mail.ru</a></p>
    </div>
    <div class="col-md-4">
        <h2>Наши номера</h2>
        <p>
            Оставив своих питомцев у нас, вы можете спокойно ехать в отпуск или командировку, и не волноваться
            за своих любимцев. Мы гарантируем свежий загородный воздух, просторные выгулы и вольеры, дружную
            компанию. В нашей гостинице представлены номера разных типов: от эконом-номеров до номеров премиум класса.
        </p>
        <p class="btn btn-default"> @Html.ActionLink("Смотреть номера", "Index", "Номера")</p>
    </div>
    <div class="col-md-4">
        <h2>Наши услуги</h2>
        <p>
            Уход за домашними животными требует незаурядного внимания. Все мы желаем получать наслаждение и
            удовольствие от общения с нашими домашними любимцами. Однако не все осознают, что животное – это не
            просто пушистая мягкая игрушка. О ней необходимо заботиться и следить за ее здоровьем постоянно.
            Главными пунктами, которые входят в понятие ухода за животными, есть простые гигиенические процедуры
            и правильное питание. К гигиеническим процедурам относятся: купание, обработка противоблошиными
            средствами, чистка от глистов и клещей, стрижка и тому подобное. В нашей гостинице представлен полный пакет
            необходимых услуг.
        </p>
        <p class="btn btn-default"> @Html.ActionLink("Смотреть услуги", "Index", "Услуга")</p>
    </div>

</div>



