﻿@{
    ViewBag.Title = "Contact";
}
@*@<h2>@ViewBag.Title.</h2>*@
@*@<h3>@ViewBag.Message</h3>*@

<h3>Контактная информация</h3>
<address>
  <em> <br> г. Томск, проспект Победы 16г<br />
    (ост. Трубопровод), 636666<br /></em>
    <abbr title="Phone">Контактный телефон:</abbr>
    88888888888
</address>

<address>
    <strong>Вопросы качества оказания услуг:</strong> <a href="mailto:Support@example.com">Support@mail.ru</a><br />
    <strong>По вопросам сотрудничества:</strong> <a href="mailto:Marketing@example.com">Marketing@mail.ru</a>
</address>