﻿@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<html>
<head>
<style>
    .post-content {
        top: 0;
        left: 54%;
        position: absolute;
        background-color: rgba(250, 235, 215, 0.4) ;
    }

    .thumbnail {
        position: relative;
    }
    body {
        color:black;
        font:800;
    }
</style>

</head>
<body>
    <div class="thumbnail">
        <img src="~/img/umain.png" class="img-fluid" />
        <div class="caption post-content text-center">
            <h3>Приветствуем Вас на сайте зоогостиницы Mr.Zoo</h3>
            <p>
                Уезжаете отдыхать? А как же ваш питомец? А любимец едет отдыхать в Mr.Zoo.
                Мы предоставляем услуги по проживанию питомцев на период отпуска, командировки, болезни,
                ремонта, переезда владельца. Наши гости - это котики, собачки мелких пород. У вас остались
                вопросы? Хотите сами посмотреть как мы заботимся о животных? Приезжайте! Смотрите!
                Ваш питомец принимает витамины? Принимает лекарства по лечению не инфекционного заболевания?
                 Мы будем давать лекарства вашему питомцу в положенное время. 
                Возникли вопросы? @Html.ActionLink("Звоните!!!", "Contact", "Home")
        </div>
    </div>




    @*<div>


        <img src="~/img/umain.png" class="img-fluid" />
        <p>Приветственная речьПриветственная речьПриветственная речьПриветственная речьПриветственная речьПриветственная речьПриветственная речь</p>
    </div>*@

</body>

</html> 
