﻿@model idz.Models.Сотрудник

@{
    ViewBag.Title = "Details";

}

<h3>Информация о сотруднике</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div>
                @Html.Raw("<img class='img-fluid rounded-circle' @*style='width:450px; height:350px;'*@ src=\"data:image/jpeg;base64,"
                                                        + Convert.ToBase64String(Model.Image) + "\" />")
            </div>
        </div>
        <div class="col-md-4 offset-1">

            <p>
                @*<img src="images/htmlbeer1.jpg" width="120" height="180" align="middle" />*@
                <dl class="dl-horizontal">
                    @*<dt>
                        @Html.Raw("<img style='width:140px; height:100px;' src=\"data:image/jpeg;base64,"
                                                 + Convert.ToBase64String(Model.Image) + "\" />")
                    </dt>
                    <dd>

                    </dd>*@
                    <dt>
                        @Html.DisplayNameFor(model => model.ФИО)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ФИО)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Телефон)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Телефон)
                    </dd>

                    @*<dt>
                        @Html.DisplayNameFor(model => model.Паспорт)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Паспорт)
                    </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Квалификация)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Квалификация)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Адрес)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Адрес)
                    </dd>

                </dl>
            </p>
         </div>
        
    </div>
 </div>
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Код_сотркдника }) |*@
            @Html.ActionLink("К списку сотрудников", "Index")
        </p>
