﻿@model idz.Models.Специальности

@{
    ViewBag.Title = "Index";
    //Layout = "Create";
}






    @if (User.IsInRole("admin"))
    {
        <button type="button" class="btn btn-outline-secondary m-2">
            @Html.ActionLink("Добавить специалиста ", "Create")
        </button>
    }
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <span class="badge badge-default">
                        <form method="get" style="margin-bottom: 20px;">
                            <div class="form-inline">
                                <h6> <label class="control-label m-1">Специальность: </label></h6>
                                @Html.DropDownList("sot", Model.СписокСпециальностей as SelectList,
                                            htmlAttributes: new { @class = "form-control" })

                                <input type="submit" value="Показать" class="btn btn-outline-dark" />
                            </div>
                        </form>
                    </span>
                </div>
                <div class="col-md-4">
                    <span class="badge badge-default">
                        @using (Html.BeginForm())
                        { <div class="form-inline">
                              <h6> <label class="control-label m-1">Фамилия: </label></h6>
                              @Html.TextBox("first_name")
         
                             <input class="p-1" type="submit" value="Поиск" />
                         </div>
                         
                            }
                       

                    </span>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model.Сотрудники)
                {

                    <div class="col-md-3">
                        <p class="rounded">
                            @Html.Raw("<img style='width:220px; height:170px;' src=\"data:image/jpeg;base64,"
                                                  + Convert.ToBase64String(item.Image) + "\" />")
                        </p>
                        <div class="text-center">
                            <h3>
                                @*@if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink(item.ФИО, "Details", new { id = item.Код_сотркдника })
        }
        else
        { @Html.DisplayFor(modelItem => item.ФИО)}*@
                                @Html.ActionLink(item.ФИО, "Details", new { id = item.Код_сотркдника })
                            </h3> 
                        <h6>@Html.DisplayFor(modelItem => item.Квалификация)</h6>
                       
                        </div>
                    </div>

                }
            </div>
        </div>
