﻿

body {
    background: #72525c !important;
    /*url(../img/фон1.jpg) !important;*/
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
}

.otstup {
    padding-bottom: 50px;
    float: center;
    width: 100%;
    height: 70px;
    background: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.myCont {
    padding-top: 300px;
    width: 1366px;
    height: 278px;
    left: 0;
    top: 0;
    background: #DC1C1C;
}

.mainPct {
    width: 748px;
    height: 422px;
    left: 309px;
    top: 89px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/i.jpg);
}
.mainTxt {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
