﻿@model idz.Models.Владельцы

@{
//ViewBag.Title = "Create";

}

<h3>Добавление нового питомца</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    <h3>@ViewBag.MyProperty</h3>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.СписокКлиентов, "Владелец", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Код_владельца", Model.СписокКлиентов, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Код_владельца, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Кличка, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Кличка, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Кличка, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Возраст, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Возраст, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Возраст, "", new { @class = "text-danger" })
        </div>
    </div>
    <details>
        <summary>?</summary>
        <p>Введите возраст питомца в месяцах</p>
    </details>

    <div class="form-group">
        @Html.LabelFor(model => model.Вес, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Вес, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Вес, "", new { @class = "text-danger" })
        </div>
    </div>
    <details>
        <summary>?</summary>
        <p>Введите вес питомца в граммах</p>
    </details>
    <div class="form-group">
        @Html.LabelFor(model => model.Примечания, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Примечания, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Примечания, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.СписокВидовЖивотных, "Животное", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Код_животного", Model.СписокВидовЖивотных, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Код_животного, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-outline-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Вернуться на страницу заказов", "Index")
</div>
