﻿@model idz.Models.Питомец

@{
    ViewBag.Title = "Delete";
    Layout = "Create";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Питомец</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Кличка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Кличка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Возраст)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Возраст)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Примечания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_животного)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_животного)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
