﻿@model idz.Models.Питомец

@{
    ViewBag.Title = "Details";
    Layout = "Create";
}

<h2>Details</h2>

<div>
    <h4>Питомец</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Кличка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Кличка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Возраст)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Возраст)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вес)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Примечания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Код_животного)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Код_животного)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Код_питомца }) |
    @Html.ActionLink("Back to List", "Index")
</p>
