﻿@model IEnumerable<idz.Models.Питомец>

@{
    ViewBag.Title = "Index";
 
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Кличка)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Возраст)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Вес)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Примечания)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Код_животного)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Кличка)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Возраст)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Вес)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Примечания)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Код_животного)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код_питомца }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код_питомца }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Код_питомца })
        </td>
    </tr>
}

</table>
