﻿@model idz.Models.User_Cons
@{

}

<!DOCTYPE html>

<button type="button" class="btn btn-outline-secondary m-2">
    @Html.ActionLink("Добавить пользователя", "Create")
</button>

<form method="get" style="margin-bottom: 20px;">
    <div class="form-inline m-2">
        <label class="control-label">Роль:&nbsp </label>
        @Html.DropDownList("US", Model.СписокRole as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Показать" class="btn btn-outline-info" />
    </div>
</form>


<div class="container-fluid">
    <div class="row ">
        @foreach (var item in Model.ДляВыбора)
        {

            <div class="col-md-4 mb-2">

                <table class="table table-hover">
                    <tr>
                        <td>
                            Пользователь
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Пароль
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Роль
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                    </tr>



                </table>

                <button type="button" class="btn btn-outline-secondary">
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id })
                </button>

            </div>

        }
    </div>
</div>

