﻿@model idz.Models.Клиент

@{
    ViewBag.Title = "Details";
    Layout = "Create";
}

<h2>Details</h2>

<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ФИО)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ФИО)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Паспорт)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Паспорт)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Почта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Почта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Код_клиента }) |
    @Html.ActionLink("Back to List", "Index")
</p>
