﻿@model IEnumerable<idz.Models.Клиент>

@{
    ViewBag.Title = "Index";
  
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ФИО)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Паспорт)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Почта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Адрес)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ФИО)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Паспорт)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Почта)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Адрес)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Код_клиента }) |
            @Html.ActionLink("Details", "Details", new { id=item.Код_клиента }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Код_клиента })
        </td>
    </tr>
}

</table>
