﻿@model IEnumerable<idz.Models.Журнал>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Номер_заказа)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Номер_услуги)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Кличка)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ФИО_сотрудника)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Услуга)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Номер_заказа }) |
            @Html.ActionLink("Details", "Details", new { id = item.Номер_заказа }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Номер_заказа })
        </td>
    </tr>
    }